@{
    Layout = "";
}
@model Nop.Plugin.Payments.BrainTree.Models.PaymentInfoModel
<script src='https://js.braintreegateway.com/web/dropin/1.27.0/js/dropin.min.js'></script>
<script src="~/lib_npm/jquery/jquery.min.js"></script>
<div id="dropin-container"></div>

<button id="submit-button" class="button-1" type="button">Submit Details</button>
<script>
    $(document).ready(function () {
        $("input[class='button-1 payment-info-next-step-button']").attr("disabled", "disabled");
        $("input[class='button-1 payment-info-next-step-button']").css("background-color", "grey");
    })
</script>
<script>
    window.onload = function () {
        var button = document.querySelector('#submit-button');
        var form = document.getElementsByTagName('form')[1];
        var deviceDataInput = null;
        var nonceInput = null;
        if (deviceDataInput == null) {
            deviceDataInput = document.createElement('input');
            deviceDataInput.name = 'device_data';
            deviceDataInput.type = 'hidden';
            form.appendChild(deviceDataInput);
        }
        if (nonceInput == null) {
            nonceInput = document.createElement('input');
            nonceInput.name = 'nonce';
            nonceInput.type = 'hidden';
            form.appendChild(nonceInput);
        }

        var threeDSecureParameters = {
            amount: @Model.Amount,
            email: '@Model.Email',
            billingAddress: {
                givenName: '@Model.BillFirstName',
                surname: '@Model.BillLastName', 
                phoneNumber: '@Model.BillPhoneNumber',
                streetAddress: '@Model.BillAddress1',
                extendedAddress: '@Model.BillAddress2',
                locality: '@Model.BillCity',
                region: '@Model.BillState',
                postalCode: '@Model.BillPostCode',
                countryCodeAlpha2: '@Model.BillCountry'
            },
            additionalInformation: {
                shippingGivenName: '@Model.ShipFirstName',
                shippingSurname: '@Model.ShipLastName',
                shippingPhone: '@Model.ShipPhoneNumber',
                shippingAddress: {
                    streetAddress: '@Model.ShipAddress1',
                    extendedAddress: '@Model.ShipAddress2',
                    locality: '@Model.ShipCity',
                    region: '@Model.ShipState',
                    postalCode: '@Model.ShipPostCode',
                    countryCodeAlpha2: '@Model.ShipCountry'
                }
            },
        };

        braintree.dropin.create({
            authorization: '@Model.Token',
            container: '#dropin-container',
            threeDSecure: true,
            card: {
                cardholderName: {
                  required: true
                }
            },
            dataCollector: {
                kount: true // Required if Kount fraud data collection is enabled

            }
        }, function (createErr, instance) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                instance.requestPaymentMethod({
                    threeDSecure: threeDSecureParameters
                }, function (requestPaymentMethodErr, payload) {
                    //if (payload.liabilityShifted || payload.type !== 'CreditCard') {
                        // Submit payload.nonce to your server
                            deviceDataInput.value = payload.deviceData;
                            nonceInput.value = payload.nonce;
                            $("input[class='button-1 payment-info-next-step-button']").removeAttr("disabled");
                            $("input[class='button-1 payment-info-next-step-button']").css("background-color","#4ab2f1")
                    //} else {
                        // Decide if you will force the user to enter a different
                        // payment method if liablity was not shifted
                        //instance.clearSelectedPaymentMethod();
                    //}
                });
            });
        });
    }
</script>